* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: white;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  background-color: #3c3a39;
}

.logo {
  color: white;
  font-weight: bold;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3c3a39;
  padding: 1%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height:60%;
  width:4%
}

.menu-icon span {
  background-color: white;
  margin-top: 15%;
  margin-bottom: 15%;
  transition: background-color 0.3s ease;
}

.menu-icon:hover {
  background-color: white;
}

.menu-icon:hover span {
  background-color: #3c3a39;
}

.intro {
  padding: 5% 4%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.intro h1 {
  color: #f18a00;
  font-weight: bold;
  margin-bottom: 1%;
}

.intro h2 {
  margin-bottom: 1.5%;
}

.intro p {
  line-height: 1.6;
  margin-bottom: 1.5%;

}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin-top: 3%;
}

.social-icons a {
  text-decoration: none;
}


@media (min-width: 375px) {
    header {
        height: 6vh;
      }
    .logo {
      font-size: 2vh;
    }
  
    .intro h1 {
      font-size: 5vh;
    }
  
    .intro h2 {
      font-size: 4vh;
    }
  
    .intro p {
      font-size: 2vh;
    }
  
    .social-icons img {
        width: 8vw;
        height: 3.5vh;
    }
    .menu-icon span{
        height: 0.4vh;
        width: 5vw;
      }
  }

@media (min-width: 768px) {
    header {
        height: 2.5%;
      }
  .logo {
    font-size: 5vh;
  }

  .intro h1 {
    font-size: 8vh;
  }

  .intro h2 {
    font-size: 7vh;
  }

  .intro p {
    font-size: 4vh;
  }

  .social-icons img {
    width: 4vw;
    height: 8.5vh;
  }
  .menu-icon span{
    height: 0.8vh;
    width: 2vw;
  }
}
