
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  width: 375px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3a39;
  height: 48px;
  position: relative;
}

.logo {
  height: 44px;
  width: 94px;
  padding: 12px 10px;
  margin-left: 12px;
}

.logo h1 {
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.links {
  display: none;
}

.menu-icon {
  height: 40px;
  width: 40px;
  margin: 4px 24px 4px 0;
  padding: 14px 11px;
}

.menu-spans {
  display: flex;
  flex-direction: column;
  background-color: #3c3a39;
  height: 24px;
  width: 24px;
  padding: 6px 3px;
}

.menu-spans span {
  background-color: white;
  margin-bottom: 1px;
  margin-top: 2px;
  height: 3px;
  width: 18px;
  border-radius: 3px;
}

.menu-spans:hover {
  background-color: white;
  transition: ease-in-out;
}

.menu-spans:hover span {
  background-color: #3c3a39;
  transition: ease-in-out;
}

.overlay-menu {
  height: 686px;
  width: 375px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3c3a39;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  width: 327px;
  height: 184px;
  margin-top: 92px;
}

.overlay-content a {
  padding: 8px 0 8px 16px;
  margin: 12px 24px;
  text-decoration: none;
  color: #fff5e1;
  display: block;
  transition: 0.3s;
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  border-bottom: solid 1px #6f6c6b;
  width: 327px;
}

.closebtn {
  position: absolute;
  top: 48px;
  right: 24px;
  cursor: pointer;
}

.closebtn img {
  height: 40px;
  width: 40px;
}

#overlay-menu {
  display: none;
}

.intro {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  color: white;
  height: 638px;
  position: relative;
}

.intro h1 {
  color: #f18a00;
  font-family: "Crete Round", serif;
  font-weight: 400;
  height: 124px;
  width: 327px;
  margin: 120px 24px 14px 24px;
  font-size: 56px;
}

.intro h2 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  height: 27px;
  margin: 0 24px 14px 24px;
}

.intro p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 327px;
  height: 123px;
  margin: 0 24px 14px 24px;
}

.social-icons {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 200px;
  margin-left: 24px;
}

.social-icons a {
  width: 40px;
  height: 40px;
}

.social-icons img {
  width: 24px;
  height: 24px;
  margin: 8px;
}

.social-icons-2 {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 200px;
  margin-left: 24px;
}

.social-icons-2 a {
  width: 40px;
  height: 40px;
}

.social-icons-2 img {
  width: 24px;
  height: 24px;
  margin: 8px;
}

.overlay-content a:hover {
  color: #f1f1f1;
}

.backimg {
  position: absolute;
  bottom: 0;
  right: 0;
}

.backimg-2 {
  display: none;
}

.Projects {
  height: 3455px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
}

.Work-Heading {
  height: 83px;
  width: 327px;
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  margin-top: 120px;
  margin-bottom: 108px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 48px;
  color: black;
}

.Work-Heading-Line {
  display: none;
}

.ProjectCards {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 20% 20% 20% 20% 20%;
}

.Project-Card {
  width: 375px;
  height: 568px;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  color: black;
}

.ProjectImage {
  height: 237px;
  width: 327px;
}

.ProjectImage-2 {
  display: none;
}

.ProjectDetails {
  height: 307px;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.ProjectHeading {
  height: 36px;
  width: 327px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
}

.ProjectDescription {
  height: 147px;
  width: 327px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 12px 0;
}

.SeeProjectButton {
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  background-color: #ff6b00;
  padding: 12px 12px;
  height: 48px;
  width: 124px;
  margin-top: 12px;
  align-self: flex-start;
}

.SeeProjectButton:hover {
  background-color: #1c1a19;
}

.ProjectTechStack {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 314px;
  height: 40px;
}

.Tech {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 10px 12px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.Project-Card-2 {
  height: 386px;
  width: 327px;
  background-image: url(./assets/Project-2-Placeholder.png);
  display: flex;
  flex-direction: column;
  background-size: cover;
  color: white;
  margin: 24px 24px;
}

.ProjectHeading-2 {
  height: 81px;
  width: 295px;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
}

.ProjectDetails-2 {
  height: 336px;
  width: 260px;
  margin: 64px 3px 14px 3px;
  padding: 8px 22px 16px 8px;
}

.ProjectDescription-2 {
  height: 99px;
  width: 301px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 12px 0;
}

.ProjectTechStack-2 {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 247px;
  height: 40px;
}

.Tech-2 {
  padding: 10px 12px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  background-color: #ffffff3d;
}

.Project-Card-2 > button {
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  background-color: #ff6b00;
  height: 48px;
  width: 327px;
}

.Contact-me-form button {
  width: 131px;
  height: 48px;
  padding: 12px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  background-color: #ff6b00;
  color: white;
  border-width: 0;
}

.About {
  width: 375px;
  height: 1801px;
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  position: relative;
}

.About-me {
  width: 375px;
  height: 563px;
  padding: 120px 24px 120px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.About-me > h1 {
  width: 327px;
  height: 79px;
  font-family: "Crete Round", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  color: #ff6b00;
}

.About-me > p {
  width: 327px;
  height: 148px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin: 24px 0;
}

.About-me > button {
  border: none;
  color: white;
  text-align: center;
  background-color: #ff6b00;
  height: 48px;
  width: 156px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.Project-Card-2 > button:hover {
  background-color: #1c1a19;
}

.About-me > button:hover {
  color: #1c1a19;
  background-color: white;
}

.line {
  margin: 94px 24px 24px 2px;
  width: 327px;
  height: 1px;
  background-color: white;
  align-self: center;
}

.About-bg-image {
  position: absolute;
  top: 384px;
  right: 0;
}

.About-bg-image-2 {
  display: none;
}

.Skills {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Skills h2 {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-top: 8px;
  position: relative;
}

.Skill-List {
  list-style-type: none;
}

.Skill-List > li {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 42.67px;
  color: white;
  margin: 16px 0;
  text-align: center;
}

.Language {
  width: 225px;
  height: 281px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Framework {
  width: 281px;
  height: 280px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;
}

.Skill {
  width: 267px;
  height: 336px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Language h2::before,
.Framework h2::before,
.Skill h2::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
}

.Language h2::before {
  background-image: url('./assets/diamond.png');
}

.Framework h2::before {
  background-image: url('./assets/Rectangle.png');
}

.Skill h2::before {
  background-image: url('./assets/circle.png');
}

.Contact-me {
  height: auto;
  width: 375px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 78px;
  border-bottom: 1px solid #dfe1e6;
}

.Contact-me > p {
  height: 262px;
  width: 327px;
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-top: 80px;
  margin-bottom: 58px;
  text-align: center;
}

.Contact-me-form {
  height: 330px;
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact-me-form input {
  padding: 15px 16px;
  margin-bottom: 24px;
  border-bottom: solid #dbd8d7;
  border-width: 0 0 1px 0;
  width: 327px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #979493;
}

.Contact-me-form textarea {
  width: 327px;
  height: 114px;
  margin-bottom: 24px;
  background-color: #fbf8f7;
  padding: 12px 12px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  color: #3c3a39;
  border: 0;
}

.Contact-me-form button:hover {
  background-color: #1c1a19;
}

.email {
  display: none;
}

footer {
  width: 375px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

@media (min-width: 1050px) {
  body {
    width: auto;
  }

  header {
    width: auto;
    height: 72px;
  }

  .logo {
    height: 40px;
    width: 108px;
    padding: 10px 12px;
    margin-left: 142px;
  }

  .logo h1 {
    font-size: 18px;
    font-family: "Inter", sans-serif;
  }

  .menu-icon {
    display: none;
  }

  .links {
    width: auto;
    height: auto;
    margin-right: 142px;
    display: flex;
  }

  nav {
    width: 255px;
    height: 40px;
    padding: 10px 12px;
    display: flex;
    justify-content: space-between;
  }

  .mail {
    height: 40px;
    width: 40px;
    padding: 8px;
    margin-left: 12px;
    display: inline;
  }

  .mail-icon {
    height: 24px;
    width: 24px;
  }

  .nav-link {
    color: white;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-decoration: none;
  }

  .intro {
    width: auto;
    height: 798px;
    position: relative;
    overflow: hidden;
  }

  .intro h1 {
    margin: 192px 0 24px 143px;
    font-size: 72px;
    width: 566px;
    height: 160px;
  }

  .intro h2 {
    margin: 0 0 24px 143px;
    font-size: 32px;
    font-weight: 500;
  }

  .intro p {
    margin: 0 0 251px 143px;
    font-size: 20px;
    font-weight: 400;
    width: 566px;
    height: 123px;
  }

  .social-icons {
    flex-direction: column;
    position: absolute;
    height: 200px;
    width: 40px;
    top: 299px;
    left: 36px;
    align-items: center;
  }

  .social-icons a {
    padding: 10;
  }

  .social-icons img {
    width: 20px;
    height: 20px;
  }

  .backimg {
    display: none;
  }

  .backimg-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline;
  }

  .Projects {
    height: 1805px;
    align-items: flex-start;
  }

  .Work-Heading {
    width: 315px;
    height: 52px;
    text-decoration: none;
    margin-top: 130px;
  }

  .Work-Heading-Line {
    width: 594px;
    background-color: black;
    height: 1px;
    display: inline;
    margin-top: 156px;
    margin-left: 24px;
  }

  .Work-Heading-div {
    display: flex;
    margin-right: 153px;
    margin-left: 153px;
  }

  .ProjectCards {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
  }

  .Project-Card-2-Section {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px 10px;
    margin-left: 80px;
    margin-right: 50px;
  }

  .Project-Card {
    width: auto;
    height: 448px;
    display: flex;
    flex-direction: row;
    padding: 0 0;
    margin-left: 90px;
    margin-right: 90px;
    color: black;
  }

  .ProjectImage {
    display: none;
  }

  .ProjectImage-2 {
    height: 448px;
    width: 684px;
    display: block;
  }

  .ProjectDetails {
    margin-left: 24px;
  }

  .Project-Card-2 > button {
    display: none;
  }

  .ProjectDetails-2 {
    margin: 170px 3px 8px 3px;
    padding: 8px 22px 16px 8px;
  }

  .Project-Card-2 {
    height: 435px;
    margin: 37px 10px;
  }

  .About {
    height: 1195px;
    width: auto;
    position: relative;
    padding-left: 32px;
  }

  .About-bg-image {
    display: none;
  }

  .About-bg-image-2 {
    position: absolute;
    top: 99px;
    right: 0;
    display: inline;
  }

  .About-me > h1 {
    width: 566px;
    height: 78px;
    font-size: 72px;
    font-weight: 400;
    line-height: 82px;
  }

  .About-me > p {
    width: 566px;
    font-size: 20px;
    line-height: 32px;
  }

  .About-me > button {
    height: 48px;
    width: 156px;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
  }

  .About-me {
    width: auto;
    padding-bottom: 130px;
  }

  .line {
    width: 1156px;
  }

  .Skills {
    flex-direction: row;
    justify-content: center;
  }

  .Language,
  .Framework,
  .Skill {
    margin-top: 0;
    align-self: flex-start;
  }

  .Framework {
    margin-left: 152px;
    margin-right: 152px;
  }

  .Contact-me {
    width: auto;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #dfe1e6;
    padding-top: 130px;
  }

  .Contact-me > p {
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    width: 455px;
    height: 256px;
    margin-top: 0;
  }

  .form-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 550px;
  }

  .form-names input {
    width: 250px;
    margin-right: 24px;
    margin-left: 0;
    padding: 15px 16px;
    margin-bottom: 24px;
    border-bottom: solid #dbd8d7;
    border-width: 0 0 1px 0;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #979493;
  }

  .Contact-me-form input {
    width: 524px;
  }

  .Contact-me-form textarea {
    width: 524px;
    height: 114px;
  }

  .email {
    display: block;
  }

  .Contact-me-form {
    width: auto;
    align-items: flex-start;
  }

  footer {
    width: auto;
  }
}
